{{!< landing}}

<div class="parallax-about bg-img-about"></div>

<div class="about-tagline">
	<div class="tagline-inner">
		<h1 class="about-title">About <br> Modern Marketing</h1>
	</div>
	<div class="tagline-inner2">
		<div class="solo-logo"></div>
	</div>
</div>

<div class="container-fluid about-row-container">
	<div class="row about-row">
		<div class="col-sm-8 col-sm-offset-2 about-text-container">
			<div class="about-text-title">
				<div class="about-rectangle-green"></div>
				<h1 class="display-inline-block">Who we are.</h1>
				<div class="about-rectangle-green"></div>
			</div>
			<p style="font-size:22px;">
				We are passionate people who want to take the weight of marketing off your -already busy- shoulders.
				Modern Marketing is all about creating an experience that feels fresh, authentic and memorable.
				We want to do more than just help you sell your product, we want to help you impact the world with your brand.
			</p>
		</div>
	</div>
	<div class="blue-crystal"></div>
</div>

<div class="parallax-about3 bg-img-about"></div>

<div class="container-fluid about-row-container2">
	<div class="row about-row2">
		<div class="col-sm-8 col-sm-offset-2 about-text-container2">
			<div class="about-text-title2">
				<div class="about-rectangle-blue"></div>
				<h1 class="display-inline-block">What we do.</h1>
				<div class="about-rectangle-blue"></div>
			</div>
			<p style="font-size:22px;">
				We keep it simple for you.
				In an industry filled with inflated jargon and strategies, it's often too easy to lose sight of what really matters.
				Whether it be creating your online presence, or your brand identity, we know the perfect formula is to use your company’s strengths to make it shine.
				We customize each and every new project we take on to cater to its unique needs.
				It’s our priority to make your life easier and give you the results that you want.
			</p>
		</div>
	</div>
	<div class="green-crystal"></div>
</div>

<div class="parallax-about bg-img-about" style="opacity:1;">
	<div class="container-fluid caption">
		<div class="row">
			<div class="col-md-4 col-md-offset-2 call-to-action-footer">
				<p style="font-size:22px;">
					Want to give the ol’ marketing a try yourself?
					Take a look at our blog where I offer marketing tips on how to
					improve your online presence and find your company’s unique personality.
				</p>
			</div>
			<div class="col-md-4">
				<h2 style="text-align:left;margin-left:10%;">
					Join our mailing list!
				</h2>
				<form class="form-label">
					<input type="email" class="subscriber-input">
					<button type="submit" class="subscriber-submit">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="footer-block">
			<a href="https://www.facebook.com/ModernMarketingSEO/"><img src="/images/facebook_icon.svg" class="facebook-icon"></a>
			<a href="https://twitter.com/mmseo4321?lang=en"><img src="/images/twitter_icon.svg" class="twitter-icon"></a>
			<a href="https://www.instagram.com/mmseo4321/"><img src="/images/instagram_icon.svg" class="instagram-icon"></a>
			<a href="https://www.linkedin.com/company/modern-marketing-seo-llc/"><img src="/images/linkedin_icon.svg" class="linkedin-icon"></a>
		</div>
	</div>
</div>
