{{!< landing}}
<div class="landingimg bg-img1"></div>

<div class="tagline">
	<h1 style="font-size:50px;">Let's Create Something Unique</h1>
	<a href="/contact" class="btn btn-success btn-lg landing-call-to-action">Get Started</a>
</div>

<div class="parallax bg-img2">
	<div class="caption container">
		<div class="row caption-row">
			<!--<div class="temp-rectangle"></div>-->
			<div class="col-md-8 col-md-offset-2 floating-border">
				
			</div>
			<div class="col-md-8 col-md-offset-2 caption-block">
				<div class="caption-text">
					<h1>What we do</h1>
					<p style="font-size:22px;">
						We keep it simple for you.
						In an industry filled with inflated jargon and strategies, it's often too easy to lose sight of what really matters.
						Whether it be creating your online presence, or your brand identity, we know the perfect formula is to use your company’s strengths to make it shine. 
						We customize each and every new project we take on to cater to its unique needs.
						It’s our priority to make your life easier and give you the results that you want.
					</p>
				</div>					
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row services-row">
		<a href="/services#market-research">
			<div class="col-md-4 service-block">
				<div class="marketresearch-icon-bw"></div>
				<h3 style="text-align:center;">Market Research</h3>
			</div>
		</a>
		<a href="/services#web-development">
			<div class="col-md-4 service-block2">
				<div class="webdesign-icon-bw"></div>
				<h3 style="text-align:center;">Web Development</h3>
			</div>
		</a>
		<a href="/services#graphic-design">
			<div class="col-md-4 service-block3">
				<div class="graphicdesign-icon-bw"></div>
				<h3 style="text-align:center;">Graphic Design</h3>
			</div>
		</a>
		<a href="/services#social-media">
			<div class="col-md-4 service-block4">
				<div class="socialmedia-icon-bw"></div>
				<h3 style="text-align:center;">Social Media Marketing</h3>
			</div>
		</a>
		<a href="/services#branding">
			<div class="col-md-4 service-block5">
				<div class="branding-icon-bw"></div>
				<h3 style="text-align:center;">Branding</h3>
			</div>
		</a>
		<a href="/services#seo">
			<div class="col-md-4 service-block6">
				<div class="seo-icon-bw"></div>
				<h3 style="text-align:center;">SEO</h3>
			</div>
		</a>
	</div>
</div>

<div class="parallax2 bg-img2">
	<div class="container-fluid caption">
		<div class="row">
			<div class="col-md-4 col-md-offset-2 call-to-action-footer">
				<p style="font-size:22px;">
					Want to give the ol’ marketing a try yourself?
					Take a look at our blog where I offer marketing tips on how to
					improve your online presence and find your company’s unique personality.
				</p>
			</div>
			<div class="col-md-4">
				<h2 style="text-align:left;margin-left:10%;">
					Join our mailing list!
				</h2>
				<form class="form-label">
					<input type="email" class="subscriber-input">
					<button type="submit" class="subscriber-submit">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="footer-block">
			<a href="https://www.facebook.com/ModernMarketingSEO/"><img src="/images/facebook_icon.svg" class="facebook-icon"></a>
			<a href="https://twitter.com/mmseo4321?lang=en"><img src="/images/twitter_icon.svg" class="twitter-icon"></a>
			<a href="https://www.instagram.com/mmseo4321/"><img src="/images/instagram_icon.svg" class="instagram-icon"></a>
			<a href="https://www.linkedin.com/company/modern-marketing-seo-llc/"><img src="/images/linkedin_icon.svg" class="linkedin-icon"></a>
		</div>
	</div>
</div>
