<div class="container-fluid service-section-1">
	<div class="services-initial-text"></div>
	<div class="service-landing-animation"></div>
	<div class="list-group services-list-group">
		<a href="/services#market-research" class="list-group-item list-group-item-action services-list-item" id="list-item-market-research">Market Research</a>
		<a href="/services#web-development" class="list-group-item list-group-item-action services-list-item" id="list-item-webdev">Web Development</a>
		<a href="/services#graphic-design" class="list-group-item list-group-item-action services-list-item" id="list-item-graphic-design">Graphic Design</a>
		<a href="/services#social-media" class="list-group-item list-group-item-action services-list-item" id="list-item-socialmedia">Social Media</a>
		<a href="/services#branding" class="list-group-item list-group-item-action services-list-item" id="list-item-branding">Branding</a>
		<a href="/services#seo" class="list-group-item list-group-item-action services-list-item" id="list-item-seo">SEO</a>
	</div>
</div>
<div class="service-section-2" id="market-research">
	<div class="list-group-item list-group-item-action market-research-title"><h1 class="service-header-text" style="margin:10px 0 10px 30px;">Market Research</h1></div>
	<div class="services-section-container container-fluid">
		<div class="row services-section-row">
			<div class="col-sm-7" style="margin-top:50px;">
				<p class="service-section-text-left">Market research is the act of collecting data to find the right customer based on their motivations, needs, and values.</p>
				<br>
				<p class="service-section-text-left">Starting from scratch can be daunting, but market research is the tool to alleviate that headache. 
					With the right data we can figure out the best brand direction for your company, 
					and the right demographic to target.</p>
				<br>
				<p class="service-section-text-left">We want to get to know your customers better than they know themselves. 
					Surveys, data analysis, graphs, reports, <strong>we LOVE that stuff</strong>. 
					But we know we are a part of a small minority, 
					which is why we synthesize all of our data into <strong>meaningful results</strong> for you.</p>
			</div>
			<div class="col-sm-4" style="height:75%;margin-top:-4%;">
				<div class="marketresearch-icon-services"></div>
			</div>
		</div>
	</div>
</div>
<div class="service-section-3" id="web-development">
	<div class="list-group-item list-group-item-action webdev-research-title"><h1 class="service-header-text" style="margin:10px 0 10px 30px;">Web Development</h1></div>
	<div class="services-section-container container-fluid">
		<div class="row services-section-row">
			<div class="col-sm-4" style="height:75%;margin-top:-4%;">
				<div class="webdev-icon-services"></div>
			</div>
			<div class="col-sm-7" style="margin-top:50px;">
				<p class="service-section-text-right">Web development is simply the creation of websites or web applications.</p>
				<br>
				<p class="service-section-text-right">Your website, it’s at the heart of your business,
					it’s the lighthouse in an otherwise foggy ocean of content.
					Websites are so crucial to customer acquisition nowadays, even the smallest of businesses have one.</p>
				<br>
				<p class="service-section-text-right">Unfortunately, websites can be overwhelming.
					Sometimes people steer away from them because they simply don’t have the time
					to think about what font-color-graphic-content they need.</p>
				<br>
				<p class="service-section-text-right">Does the idea of site building make you shudder?
					That’s okay because we LOVE it. We want the heart of your company to, well, have heart.
					We’re dedicated to creating something that you can be proud of.</p>
			</div>
		</div>
	</div>
</div>
<div class="service-section-4" id="graphic-design">
	<div class="list-group-item list-group-item-action graphic-research-title"><h1 class="service-header-text" style="margin:10px 0 10px 30px;">Graphic Design</h1></div>
	<div class="services-section-container">
		<div class="row services-section-row">
			<div class="col-sm-7" style="margin-top:50px;">
				<p class="service-section-text-left">Graphic design is the art of communicating through visual and typographic elements.</p>
				<br>
				<p class="service-section-text-left">Graphical art is the key to a unique user experience.
					Something as simple as having custom graphics can differentiate you from your competition and convince customers to choose you.</p>
				<br>
				<p class="service-section-text-left">We are in the market of making you standing out.
					We want your digital image to be an experience, and we want your graphics to represent you better than the words they accompany. </p>
				<br>
				<p class="service-section-text-left">Every graphic we create is customized with great reflection into the current market, human psychology, and plain creativity.</p>
			</div>
			<div class="col-sm-4" style="height:75%;margin-top:-4%;">
				<div class="graphic-icon-services"></div>
			</div>
		</div>
	</div>
</div>
<div class="service-section-5" id="social-media">
	<div class="list-group-item list-group-item-action socialmedia-research-title"><h1 class="service-header-text" style="margin:10px 0 10px 30px;">Social Media</h1></div>
	<div class="services-section-container">
		<div class="row services-section-row">
			<div class="col-sm-4" style="height:75%;margin-top:-4%;">
				<div class="socialmedia-icon-services"></div>
			</div>
			<div class="col-sm-7" style="margin-top:50px;">
				<p class="service-section-text-right">Social media marketing is the act of using social media platforms to create content that helps you achieve your business goals.</p>
				<br>
				<p class="service-section-text-right">We’re in a era where the line between customer and business owner is very thin. 
					Customers expect transparency, they want to get to know you, and they want to interact with you.
					Social media is the tool to show your customer base that you do in fact up hold those values that 
					are gathering dust in the about page of your website. </p>
				<br>
				<p class="service-section-text-right">We know it’s important for your company to feel personable, 
					no one wants to follow a robot on social media right? We find that when it comes to managing social 
					media the principles that always hold true are:</p>
			</div>
		</div>
	</div>
</div>
<img src="/images/begenuine.png" class="genuine-graphic">
<div class="service-section-6" id="branding">
	<div class="list-group-item list-group-item-action branding-research-title"><h1 class="service-header-text" style="margin:10px 0 10px 30px;">Branding</h1></div>
	<div class="services-section-container">
		<div class="row services-section-row">
			<div class="col-sm-7" style="margin-top:50px;">
				<p class="service-section-text-left">Branding is all about perception,
					It shows your customer who you are as a company, and what you have to offer.</p>
				<br>
				<p class="service-section-text-left">We take special care to personalize your brand identity to match your clients by combining the traditional approach with human psychology.</p>
				<br>
				<p class="service-section-text-left">We don’t stop at your digital image, we want the feel of your company from the time the customer walks in the proverbial door to be entirely molded to their values. </p>
			</div>
			<div class="col-sm-4" style="height:75%;margin-top:-4%;">
				<div class="branding-icon-services"></div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row threestep-row">
		<div class="col-md-4 threestep-block">
			<div class="analyze-graphic"></div>
			<h2 style="text-align:center;color:#8ed624;">Analyze</h2>
			<p style="width:250px;margin:auto;font-size:14px;">We identify the client’s core values and their drivers. Then we create a strategy that keeps them engaged and loyal.</p>
		</div>
		<div class="col-md-4 threestep-block2">
			<div class="implement-graphic"></div>
			<h2 style="text-align:center;color:#8ed624;">Implement</h2>
			<p style="width:250px;margin:auto;font-size:14px;">We implement our strategies and measure brand performance with meaningful data to track our progress.</p>
		</div>
		<div class="col-md-4 threestep-block3">
			<div class="grow-graphic"></div>
			<h2 style="text-align:center;color:#8ed624;">Grow</h2>
			<p style="width:250px;margin:auto;font-size:14px;">We attract and maintain our customer base and increase loyalty to the brand.</p>
		</div>
	</div>
</div>
<div class="service-section-7" id="seo">
	<div class="list-group-item list-group-item-action SEO-research-title"><h1 class="service-header-text" style="margin:10px 0 10px 30px;">SEO</h1></div>
	<div class="services-section-container">
		<div class="row services-section-row">
			<div class="col-sm-4" style="height:75%;margin-top:-4%;">
				<div class="seo-icon-services"></div>
			</div>
			<div class="col-sm-7" style="margin-top:50px;">
				<p class="service-section-text-right">
					Search Engine optimization is an exercise to gain organic (and free) traffic from customers searching on the web.
				</p>
				<br>
				<p class="service-section-text-right">The world of SEO is always changing and being up to date can have a huge impact on client conversion rates 
					- that means how much of your client base is doing what you intend for them to do on your website. </p>
				<br>
				<p class="service-section-text-right">SEO is overwhelming so it can be tempting to sweep under the rug.
					We want to be your clean up crew. We’ll come up with your keyword strategy, edit bad links and malpractices in the code, create backlinks, update blog posts, and do all the networking necessary to get you out there.
					All you have to do is keep being you and focus on what’s important to you.</p>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="footer-block">
			<a href="https://www.facebook.com/ModernMarketingSEO/"><img src="/images/facebook_icon.svg" class="facebook-icon"></a>
			<a href="https://twitter.com/mmseo4321?lang=en"><img src="/images/twitter_icon.svg" class="twitter-icon"></a>
			<a href="https://www.instagram.com/mmseo4321/"><img src="/images/instagram_icon.svg" class="instagram-icon"></a>
			<a href="https://www.linkedin.com/company/modern-marketing-seo-llc/"><img src="/images/linkedin_icon.svg" class="linkedin-icon"></a>
		</div>
	</div>
</div>
